<form action="{% url 'user:login' %}" method="post">{% csrf_token %}
    <div class="form-group form-style">
        <div class="input-group">
            <div class="input-group-addon">邮 箱</div>
            <input type="text" class="form-control" id="email" name="email" placeholder="请输入邮箱"/>
        </div>
    </div>
    <div class="form-group form-style">
        <div class="input-group">
            <div class="input-group-addon">密 码</div>
            <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码"/>
        </div>
    </div>
    <div class="form-group form-style">
        <input type="submit" value="登录" class="btn btn-primary col-sm-12">
    </div>
    <div class="form-group form-style">
        <a href="{% url 'user:signup' %}" class="btn btn-link col-sm-12">现在注册</a>
    </div>
</form>
