<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>navigate</title>
    <style>
        #user_avatar{
            height: 30px;
            width: 30px;
            border-radius: 50%;
        }
    </style>
</head>
<body>
        <nav class="navbar navbar-default" style="margin-bottom: 0px">
            <div class="container-fluid navigate">
                <div class="text-center">
                    <div class="col-sm-1 col-sm-offset-2"><a class=" btn btn-link btn-lg" href="{% url 'user:index' %}" title="回到首页">首页</a> </div>
                    <div class="col-sm-2 col-sm-offset-5">
                        {% if user.nickname %}
                            <a class="btn btn-link" href="{% url 'user:posting' %}">发帖</a>
                            <a class="btn-link" href="{% url 'user:showuser' %}?show={{ user.pk }}">
                                {% if user.avatar %}
                                <img src="/media/{{ user.avatar }}" id="user_avatar">
                                {% else %}
                                <img src="/static/images/user/user_404.png" id="user_avatar">
                                {% endif %}
                                {{user.nickname}}
                            </a>
                            <a class="btn btn-link" href="{% url 'user:logout' %}">退出</a>
                        {% else %}
                            <a class="btn btn-link btn-lg" href="{% url 'user:login' %}">登录</a>
                            <a class="btn btn-link btn-lg" href="{% url 'user:signup' %}">注册</a>
                        {% endif%}
                    </div>
                </div>
            </div>
        </nav>

</body>
</html>