.body {
    margin-top: 60px;
    min-height: 860px;
    background-color: rgb(245, 246, 247);
    padding: 5px 1.5% 0;
}

.propagranda {
    margin-top: 150px;
}

.suggestion {
    background-color: #ABCDEF;
}

.advertisement {
    margin-bottom: 40px;
}

.navigate {
    padding-top: 5px;
}

.form-style {
    margin-top: 20px;
    margin-bottom: 40px;
}

#current_avatar {
    height: 200px;
    width: 200px;
}

.bg-white {
    background-color: white;
}

.user_avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.form {
    background-color: white;
}

#homepage {
    height: 30px;
}

nav {
    background-color: white;
    padding-top: 10px;
}

.search {
    position: fixed;
    left: auto;
    margin-left: -220px;
    width: 200px;
    margin-top: 5px;
}

/* table 样式 */
table {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

table td,
table th {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 3px 5px;
}

table th {
    border-bottom: 2px solid #ccc;
    text-align: center;
}

/* blockquote 样式 */
blockquote {
    display: block;
    border-left: 8px solid #d0e5f2;
    padding: 5px 10px;
    margin: 10px 0;
    line-height: 1.4;
    font-size: 100%;
    background-color: #f1f1f1;
}

/* code 样式 */
code {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background-color: #f1f1f1;
    border-radius: 3px;
    padding: 3px 5px;
    margin: 0 3px;
}

pre code {
    display: block;
}

/* ul ol 样式 */
ul, ol {
    margin: 10px 0 10px 20px;
}

.plate-list {
    position: fixed;
    left: auto;
    margin-left: -200px;
    width: 190px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: white;
    border: rgb(255, 256, 257) solid 1px;
    border-radius: 3px;
}

ul li {
    border: rgb(255, 256, 257) solid 1px;
    border-radius: 3px;
}

.list-group li a {
    color: black;
}

ul li.active {
    background-color: #f44444;
}

ul li.active a {
    color: white;
}

