{% extends 'base/base.html' %}

{% block title %}首页{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="col-sm-2 col-sm-offset-2 plate-list">
            <div class="list-group">
                {% for plate in plates %}


                    {% if forloop.counter <= 5 %}
                        <a class="list-group-item" href="{% url 'user:show_posts' %}?plate={{ plate.pk }}">
                            <h4 class="list-group-item-heading">
                                {{ plate.name }}
                            </h4>
                            <div class="list-group-item-text text-right">
                                <p class="btn btn-link plate-description-detail" role="button" data-container="body"
                                   data-toggle="popover"
                                   data-placement="right" data-content="{{ plate.description }}"
                                   title="{{ plate.name }}">详情></p>
                            </div>

                        </a>
                    {% else %}
                        <a class="list-group-item hidden hidden-plate" href="{% url 'user:show_posts' %}?plate={{ plate.pk }}">
                            <h4 class="list-group-item-heading">
                                {{ plate.name }}
                            </h4>
                            <div class="list-group-item-text text-right">
                                <p class="btn btn-link plate-description-detail" role="button" data-container="body"
                                   data-toggle="popover"
                                   data-placement="right" data-content="{{ plate.description }}"
                                   title="{{ plate.name }}">详情></p>
                            </div>

                        </a>
                    {% endif %}

                {% endfor %}
                {% if plates.count > 5 %}
                    <a class="list-group-item" id="show_more">显示更多板块
                    </a>
                {% endif %}
                <a class="list-group-item" href="{% url 'user:create_plate' %}">创建板块</a>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a>最热榜</a></li>
                </ul>
                <div class="list-group">
                    {% for post in hottest %}
                        <a class="list-group-item" href="{% url 'user:show_post' %}?post_id={{ post.pk }}">
                            <div class="list-group-item-heading">{{ post.headline }}
                                <span class="label label-info">{{ post.plate.name }}</span>
                                <div class="text-right">{{ post.user.nickname }}</div>

                            </div>
                            <p class="text-right">
                                {% for tag in post.tags.all %}
                                    <span class="label label-default">{{ tag.name }}</span>
                                {% endfor %}
                                {{ post.last_change_time }}
                            </p>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a>最新榜</a></li>
                </ul>
                <div class="list-group">
                    {% for post in latest %}
                        <a class="list-group-item" href="{% url 'user:show_post' %}?post_id={{ post.pk }}">
                            <div class="list-group-item-heading">{{ post.headline }}
                                <span class="label label-info">{{ post.plate.name }}</span>
                                <div class="text-right">{{ post.user.nickname }}</div>

                            </div>
                            <p class="text-right">
                                {% for tag in post.tags.all %}
                                    <span class="label label-default">{{ tag.name }}</span>
                                {% endfor %}
                                {{ post.last_change_time }}
                            </p>
                        </a>
                    {% endfor %}
                </div>
                <table class="table">
                    <tbody>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $("#show_more").click(function () {
                $(this).remove();
                $(".hidden-plate").removeClass("hidden")
            })
            $('.plate-description-detail').hover(function () {
                $(this).popover('show')
            }, function () {
                $(this).popover('hide')
            })
        })
    </script>
{% endblock %}