{% extends 'base/base.html' %}

{% block title %}首页{% endblock %}
{% block style %}
    <style>
        .post-list {
            background-color: white;
            margin-left: 3%;
        }

        .post-item {
            padding: 5px 1.5% 0;
            border: rgb(245, 246, 247) solid 1px;
            border-radius: 3px;
        }

        .post-hover {
            background-color: #fafafa;
        }


        .description {
            color: #8a8a8a;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
        }


        .post-title {
            color: black;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="col-sm-5 col-sm-offset-3">
            <div class="plate-list">
                <ul class="list-group">
                    <li class="text-center plate-item">
                        <a href="{% url 'app:index' %}">
                            <h4>推荐</h4>
                        </a>
                    </li>
                    <li class="active text-center">
                        <a href="{% url 'app:latest' %}">
                            <h4>最新</h4>
                        </a>
                    </li>
                    {% for plate in plates %}
                        {% if forloop.counter <= 5 %}
                            <li class="text-center plate-item">
                                <a href="{% url 'app:show_posts' %}?plate={{ plate.pk }}">
                                    <h4>{{ plate.name }}</h4>
                                </a>
                            </li>
                        {% else %}
                            <li class="hidden hidden-plate text-center plate-item">
                                <a href="{% url 'app:show_posts' %}?plate={{ plate.pk }}">
                                    <h4>{{ plate.name }}</h4>
                                </a>
                            </li>
                        {% endif %}

                    {% endfor %}
                    {% if plates.count > 5 %}
                        <li id="show_more" class="text-center plate-item">
                            <h4>显示更多板块</h4>
                        </li>
                    {% endif %}
                    <li class="text-center plate-item">
                        <a href="{% url 'app:create_plate' %}">
                            <h4>创建板块</h4>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="">
                <div class="post-list">
                    {% for post in posts %}
                        <div class="post-item">
                            <a class="post-title" href="{% url 'app:show_post' %}?post_id={{ post.pk }}">
                                <h4>{{ post.headline }}</h4></a>
                            <div class="description">{{ post.description| striptags }}</div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <a href="{% url 'app:showuser' %}?show={{ post.user.pk }}">
                                            {% if post.user.avatar %}
                                                <img src="/media/{{ post.user.avatar }}" class="user_avatar">
                                            {% else %}
                                                <img src="/static/images/user/user_404_title.png" class="user_avatar">
                                            {% endif %}{{ post.user.nickname }}</a>
                                        | <a
                                            href="{% url 'app:show_posts' %}?plate={{ post.plate.pk }}">{{ post.plate.name }}</a>>
                                        | {{ post.create_time | timesince}}以前
                                    </div>
                                    <div class="col-sm-3 text-right">
                                        阅读 {{ post.read_num }} | 评论数 {{ post.reviews.count }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script>

        $(document).ready(function () {
            $("#show_more").click(function () {
                $(this).remove();
                $(".hidden-plate").removeClass("hidden")
            })
            $('.plate-description-detail').hover(function () {
                $(this).popover('show')
            }, function () {
                $(this).popover('hide')
            })
            $(".post-item").hover(function () {
                $(this).addClass("post-hover")
            }, function () {
                $(this).removeClass("post-hover")
            })
            $(".plate-item").hover(function () {
                $(this).addClass("active")
            }, function () {
                $(this).removeClass("active")
            })


        })
    </script>
{% endblock %}