{% extends 'base/base.html' %}

{% block title %}最新{% endblock %}
{% block style %}
    <style>
        .post-list {
            background-color: white;
            margin-left: 3%;
        }

        .post-item {
            padding: 5px 1.5% 0;
            border: rgb(245, 246, 247) solid 1px;
            border-radius: 3px;
        }

        .post-hover {
            background-color: #fafafa;
        }


        .description {
            color: #8a8a8a;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
        }


        .post-title {
            color: black;
        }

        .newest {
            background-color: white;
        }

        .newest-title {
            padding: 20px;
            margin: 10px 0;
            border: 1px solid #eee;
            border-left-width: 5px;
            border-left-color: #ce4044;
            border-radius: 3px;
        }

        #roof {
            position: fixed;
            bottom: 10%;
            right: 10%;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container-fluid" id="newest-recommended">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="plate-list">
                <ul class="list-group">
                    <li class="text-center plate-item">
                        <a href="{% url 'app:index' %}">
                            <h4>推荐</h4>
                        </a>
                    </li>
                    <li class="active text-center">
                        <a href="{% url 'app:latest' %}">
                            <h4>最新</h4>
                        </a>
                    </li>
                    {% for plate in plates %}
                        <li class="text-center plate-item">
                            <a href="{% url 'app:show_posts' %}?plate={{ plate.pk }}">
                                <h4>{{ plate.name }}</h4>
                            </a>
                        </li>
                    {% endfor %}
                    {% if plates.count > 5 %}
                        <li id="show_more" class="text-center plate-item">
                            <h4>显示更多板块</h4>
                        </li>
                    {% endif %}
                    <li class="text-center plate-item">
                        <a href="{% url 'app:create_plate' %}">
                            <h4>创建板块</h4>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="">
                <div class="post-list" id="post-list">

                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="newest">
                <h5 class="newest-title">热门推荐</h5>
                <ul id="newest"></ul>
            </div>
            <div class="newest">
                <h5 class="newest-title">最新评论</h5>
                <ul id="newest-review"></ul>
            </div>
        </div>
        <div id="roof" class="text-center">
            <a href="#"><img src="/static/images/turntoroof.png" style="width: 80px; height: 80px"></a></br>
            返回顶部
        </div>
    </div>

{% endblock %}
{% block script %}
    <script>

        $(document).ready(function () {
            let offset = 0;
            $("#show_more").click(function () {
                $(this).remove();
                $(".hidden-plate").removeClass("hidden")
            })
            $('.plate-description-detail').hover(function () {
                $(this).popover('show')
            }, function () {
                $(this).popover('hide')
            })
            $(".post-item").hover(function () {
                $(this).addClass("post-hover")
            }, function () {
                $(this).removeClass("post-hover")
            })
            $(".plate-item").hover(function () {
                $(this).addClass("active")
            }, function () {
                $(this).removeClass("active")
            });
            document.getElementById("post-list").innerHTML += "<div class='text-center post-item' id='loading'><h3>加载中，请稍后。。。。</h3></div>"
            loadpost(offset);
            $.get('/api/ranks?format=json&limit=8', function (data, status) {
                let posts = data.results;

                for (let i = 0; i < posts.length; i++) {
                    $.get(posts[i]['post'], function (data) {
                        let id = data['id'];
                        let headline = data['headline'];
                        let li = document.createElement("li")
                        let a = document.createElement("a");
                        a.innerHTML = headline;
                        a.setAttribute('href', '{% url "app:show_post" %}?post_id=' + id);
                        li.appendChild(a)
                        document.getElementById("newest").appendChild(li)
                    });

                }

            }, dataType = "json")
            $.get('/api/ReviewPosts/?limit=8', function (data, status) {
                let posts = data.results
                for (let i = 0; i < posts.length; i++) {
                    let id = posts[i]['id'];
                    let headline = posts[i]['headline'];
                    let li = document.createElement("li")
                    let a = document.createElement("a");
                    a.innerHTML = headline;
                    a.setAttribute('href', '{% url "app:show_post" %}?post_id=' + id);
                    li.appendChild(a)
                    document.getElementById("newest-review").appendChild(li)
                }

            }, dataType = "json")
            $(window).scroll(function () {
                var scrollTop = $(this).scrollTop();
                var scrollHeight = $(document).height();
                var windowHeight = $(this).height();
                if (scrollTop + windowHeight == scrollHeight) {
                    offset += 30;
                    document.getElementById("post-list").innerHTML += "<div class='text-center post-item' id='loading'><h3>加载中，请稍后......</h3></div>"
                    loadpost(offset)
                }
            });
        });

        function loadpost(offset) {


            $.get('/api/posts/?format=json&offset=' + offset, function (data) {

                let ranks = data.results;
                document.getElementById('loading').remove();
                for (let i = 0; i < ranks.length; i++) {

                    let post = ranks[i];
                    let html = '<div class="post-item">\n' +
                        '                            <a class="post-title" href="' + "{% url 'app:show_post' %}?post_id=" + post['id'] + '">\n' +
                        '                                <h4>' + post['headline'] + '</h4></a>\n' +
                        '                            <div class="description">' + post['description'].replace(/<[^>]+>/g, "") + '</div>\n' +
                        '                            <div class="container-fluid">\n' +
                        '                                <div class="row">\n' +
                        '                                    <div class="col-sm-9">\n' +
                        '                                        <a href="{% url 'app:showuser' %}?show=' + post['user']['id'] + '">\n' +
                        '                                                <img src="' + avatar_src(post['user']['avatar']) + '" class="user_avatar">\n' +
                        '                                        | <a\n' +
                        '                                            href="{% url 'app:show_posts' %}?plate=' + post['plate']['id'] + '">' + post['plate']['name'] + '</a>\n' +
                        '                                        | ' + post['create_time'].split('+')[0].replace("T", " ") + '\n' +
                        '                                    </div>\n' +
                        '                                    <div class="col-sm-3 text-right">\n' +
                        '                                        阅读' + post['read_num'] + ' | 评论数 ' + post['reviews'].length + '\n' +
                        '                                    </div>\n' +
                        '                                </div>\n' +
                        '                            </div>\n' +
                        '                        </div>'
                    document.getElementById("post-list").innerHTML += html

                }
            });
        }

        function avatar_src(url) {
            if (url == null) {
                return "/static/images/user/user_404_title.png"
            } else {
                return url
            }
        }
    </script>
{% endblock %}