{% extends 'base/base.html' %}


{% block title %}
    搜索
{% endblock %}


{% block style %}
    <style>
        .page-search {
            margin-top: 50px;
        }

        .search-list {
            padding: 5px 1.5% 0;
            border-radius: 3px;
        }

        .search-item {
            padding: 5px 1.5% 0;
            background-color: white;
            border: rgb(245, 246, 247) solid 1px;
            border-radius: 5px;
            padding-bottom: 10px;
        }

        .description {
            min-height: 20px;
        }
    </style>
{% endblock %}


{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <form class="input-group page-search" method="get" action="{% url 'app:search' %}">
                    <input type="text" class="form-control" id="search" name="keywords" value="{{ keywords }}">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" aria-label="Left Align">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>搜索
                        </button>
                    </span>
                </form>
                {% if keywords == "" %}
                    <h1 class="text-center">关键词不能为空</h1>
                {% else %}
                    <h1>标题</h1>
                    <div class="search-list">
                        {% for foo in posts_for_headline %}


                            <div class="search-item">
                                <a href="{% url 'app:show_post' %}?post_id={{ foo.pk }}">
                                    <h4 class="show-search" style="color: #3875d7">{{ foo.headline }}</h4>
                                    <div class="description">{{ foo.description | striptags |slice:"300" }}</div>
                                </a>
                            </div>

                        {% endfor %}
                        {% if posts_for_headline|length == 0 %}
                            <h3>没有相关帖子</h3>
                        {% endif %}
                    </div>
                    <h1>用户</h1>
                    <div class="search-list">
                        {% for user in users %}
                            <div class="search-item">
                                <a href="{% url 'app:showuser' %}?show={{ user.pk }}">
                                    {% if user.avatar %}
                                        <img src="/media/{{ user.avatar }}" class="user_avatar">
                                    {% else %}
                                        <img src="/static/images/user/user_404_title.png" class="user_avatar">
                                    {% endif %}
                                    <span class="show-search" style="color: #3875d7">{{ user.nickname }}</span>
                                    <p>个人简介：{{ user.description }}</p>
                                </a>

                            </div>
                        {% endfor %}
                        {% if users|length == 0 %}
                            <h3>没有相关用户</h3>
                        {% endif %}
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script>

        showkeyords()

        function showkeyords() {
            showhtml = document.getElementsByClassName("show-search");
            let keywords = "{{ keywords }}".split(" ");

            for (let i = 0; i < showhtml.length; i++) {
                for (let j = 0; j < keywords.length; j++) {
                    if (keywords[j] != ""){
                        showhtml[i].innerHTML = showhtml[i].innerHTML.split(keywords[j]).join("<span style='color: red'>" + keywords[j] + "</span>");
                    }
                }
            }
        }

        $(document).ready(function () {
            $('.search-item').hover(function () {
                $(this).css("background-color", '#d9edf7')
            }, function () {
                $(this).css('background-color', 'white')
            })
        })
    </script>
{% endblock %}