{% extends 'base/base.html' %}

{% block title %}
    发帖
{% endblock %}
{% block style %}

    <style>
        .post-create {
            background-color: white;
        }

        .post-item {
            min-height: 45px;
        }

        .textarea {
            width: 97%;
            margin: 10px 1.5% 0;
            padding: 10px 1.5% 0;
            min-height: 700px;
            font-size: 14px;
            border: solid 1px;
            color: #333;
            border-radius: 5px;
        }

        textarea {
            resize: none;
            overflow: auto;
        }

        .post-button {
            width: 40%;
            margin: 10px 30% 0;
        }

        .post-form {
            margin-top: 50px;
        }

        #show-post {
            width: 97%;
            margin: 10px 1.5% 0;
            padding-left: 10px;
            padding-right: 10px;
            min-height: 700px;
            border: solid 1px;
            border-radius: 5px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="col-sm-12 post-create">
            <div class="container-fluid">
                <div class="col-sm-9 post-form">
                    <div class="post-item">
                        标题：<input type="text" id="headline" style="width: 80%">
                    </div>
                    <div class="post-item">
                        板块：
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <span id="plate_select">{{ plates.first.name }}</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                {% for plate in plates %}
                                    <li><a class="plate_name">{{ plate.name }}</a></li>
                                {% endfor %}
                                <li><a class="btn-link" href="{% url 'user:create_plate' %}">没有? 手动添加</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="post-item">
                        标签：<span id="tags"></span><span id="prompt">点击删除</span>
                    </div>
                    <div class="post-item">
                        文本格式：

                        <label class="radio-inline"><input type="radio" name="text_choice" class="text_choice" value="0"
                                                           checked="checked">txt</label>
                        <label class="radio-inline"><input type="radio" name="text_choice" class="text_choice"
                                                           value="1">markdown</label>
                        <label class="radio-inline"><input type="radio" name="text_choice" class="text_choice"
                                                           value="2">html</label>

                    </div>


                </div>

                <div class="col-sm-3">
                    <h4>标签池：
                        <small>(点击添加标签)</small>
                    </h4>
                    <div id="tag-pool"></div>
                    <a href="{% url 'user:create_tag' %}">没有？手动添加</a>
                </div>
            </div>
            <div class="container-fluid">
                <div class="col-sm-6 post-item">
                    <label for="description">输入内容：</label>
                    <textarea class="textarea" placeholder="内容" id="description"></textarea>
                </div>
                <div class="col-sm-6 show-post">
                    <label for="show-post">预览:</label>
                    <div id="show-post"></div>
                </div>

            </div>
            <div class="post-item">
                <button class="btn btn-block post-button" id="submit">发表</button>
            </div>
        </div>

    </div>
{% endblock %}
{% block script %}
    <script src="https://cdn.bootcss.com/showdown/1.9.0/showdown.min.js"></script>
    <script type="text/javascript">
        let tag = document.getElementById('tags')
        let button = [
            'btn-default',
            'btn-primary',
            'btn-success',
            'btn-info',
            'btn-warning',
            'btn-danger',
        ]
        let button_class = 0

        function tag_cancel(e) {
            for (let i = 0; i < $('.tag_name').length; i++) {
                if ($('.tag_name').eq(i).html() == e.innerHTML) {
                    $('.tag_name').eq(i).show()
                    e.remove()
                }
            }
        }

        $(document).ready(function () {
            let tag_pool = document.getElementById('tag-pool')
            {% for tag in tags %}
                let tag_button_{{ tag.pk }} = document.createElement('button');
                tag_button_{{ tag.pk }}.setAttribute('class', 'btn tag ' + button[button_class % 6]);
                tag_button_{{ tag.pk }}.innerHTML = '{{ tag.name }}';
                tag_pool.appendChild(tag_button_{{ tag.pk }});
                button_class++
            {% endfor %}
            $('.plate_name').click(function () {
                $("#plate_select").html($(this).html())
            })
            $('.tag').click(function () {
                if ($(this).hasClass('tag-item')) {
                    $('#tag-pool').append($(this))
                    $(this).removeClass('tag-item')
                } else {
                    $('#tags').append($(this));
                    $(this).addClass('tag-item')
                }
            })

            $('#submit').click(function () {
                let tag_list = new Array()
                let tags = tag.childNodes
                for (let i = 0; i < tags.length; i++) {
                    tag_list.push(tags[i].innerHTML)
                }
                let data = {
                    'user': {{ user.pk }},
                    'headline': $('#headline').val(),
                    'plate': $('#plate_select').html(),
                    'tag_list': tag_list.toString(),
                    'description': $('#show-post').html(),
                    'text_choice': $("input[name='text_choice']:checked").val()
                }


                $.ajaxSetup({
                    data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                });
                $.post("{% url 'user:add_post' %}", data, function (message) {
                    if (message == '1') {
                        alert('已发表！')
                        window.location.href = "{% url 'user:showuser' %}?show= {{ user.pk }}"
                    } else if (message === '-2') {
                        alert('标题不能为空')
                    } else if (message === '-3') {
                        alert('内容不能为空！')
                    } else if (message === '-1') {
                        alert('请先登录！')
                    } else {
                        alert('请添加板块')
                    }
                })
            })

            $("textarea").keyup(function () {
                this.style.height = 'auto';
                this.style.height = this.scrollHeight + "px";
                let text = $(this).val();
                if ($("input[name='text_choice']:checked").val() === "1") {
                    text = tomarkdown(text);
                } else if ($("input[name='text_choice']:checked").val() === "0") {
                    text = "<xmp>" + text + "</xmp>";
                }
                $("#show-post").html(text);
            })
            $('.text_choice').change(function () {
                $("textarea").keyup();
            })
        })

        function tomarkdown(text) {
            let converter = new showdown.Converter();
            return converter.makeHtml(text)
        }
    </script>
{% endblock %}