{% extends 'base/base.html' %}


{% block title %}
    登录
{% endblock %}


{% block style %}

{% endblock %}


{% block body %}
    <div class="container-fluid ">
        <div class="row propagranda">
            <div class="col-sm-6 col-sm-offset-2">
                {% include 'base/advertisement.html' %}
            </div>
            <div class="col-sm-2 form">
                <div class="text-center"><h2>找回密码</h2></div>
                <form id="changepassowrd">{% csrf_token %}
                    <div class="form-group form-style">
                        <label for="email">邮 箱:<span id="email_v"></span></label>

                        <input type="text" class="form-control" id="email" name="email" placeholder="请输入邮箱"/>
                        <span></span>
                    </div>
                    <div class="form-group form-style">
                        <label for="captcha">验证码: <span id="captcha_v"></span></label>
                        <input type="text" class="form-control captcha" id="captcha" name="captcha" maxlength="6"
                               disabled="disabled"/>
                    </div>
                    <div class="form-group form-style">
                        <label for="new">新密码<span id="new_v"></span></label>
                        <input type="password" id="new" class="form-control captcha" name="password"
                               disabled="disabled">
                    </div>
                    <div class="form-group form-style">
                        <label for="repeat">确认密码<span id="repeat_v"></span></label>
                        <input type="password" id="repeat" class="form-control captcha" name="repeat"
                               disabled="disabled">
                    </div>

                    <div class="form-group form-style">
                        <input type="button" value="确认修改" class="btn btn-primary col-sm-12" id="submit">
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script>
        $(document).ready(function () {
            let new_v = false;
            let captcha = false;
            let repeat = false;
            $('#email').blur(function () {

                $.get("{% url 'app:get_user' %}?email=" + $(this).val(), function (data) {
                    let result = 1
                    if (data === '1') {
                        message = "邮箱已注册！<input type=\"button\" class=\"btn btn-default btn-sm sendmail\" id='sendcode' value=\"发送验证码\"/>"

                    } else {
                        message = "邮箱未注册！"
                        result = 0
                    }
                    putresult("email_v", message, result)
                })
            });
            $("#captcha").blur(function () {
                let message = "";
                if ($(this).val().length != 4) {
                    message = "请输入正确的验证码";
                    captcha = false
                }else {
                    captcha = true;
                }
                putresult('captcha_v', message, 0);
            })

            $("body").on("click", "#sendcode", function () {
                $.get("{% url 'app:sendmail' %}?email=" + $("#email").val(), function (data) {
                    if (data === '1') {
                        alert('验证码已发送');
                        $(".captcha").removeAttr("disabled");
                    } else if (data === "0") {
                        alert("发送失败！");
                    }
                })
            });
            $("#new").blur(function () {
                if ($(this).val().length < 6) {
                    putresult('new_v', "密码长度不得小于6", 0);
                    new_v = false
                } else {
                    new_v = true
                }
            });
            $("#repeat").blur(function () {
                if ($(this).val() != $("#new").val()) {
                    putresult('repeat_v', "两次密码不一致", 0);
                    repeat = false
                } else {
                    repeat = true
                }

            });
            $("#submit").click(function () {
                if ( new_v && repeat && captcha) {
                    let formdata = $("#changepassowrd").serializeArray()
                    $.post("{% url 'app:changepassword' %}", formdata, function (data) {
                        alert(data);
                        if (data == "修改成功"){
                            window.location.href = '{% url "app:login" %}'
                        }
                    })
                }

            });
        });

        function putresult(id, message, result = 1) {
            let obj = "#" + id;
            let color = "green"
            $(obj).html(message);
            if (result == 0) {
                color = "red";
            }
            $(obj).css('color', color)
        }
    </script>
{% endblock %}
