{% extends 'base/base.html' %}


{% block title %}
    修改个人资料
{% endblock %}


{% block style %}
    <style type="text/css">
        .propagranda {
            margin-top: 50px;
        }
    </style>
{% endblock %}


{% block body %}
    <div class="container-fluid ">
        <div class="row propagranda">
            <div class="col-sm-6 col-sm-offset-3">
                {% include 'form/userchangeform.html' %}
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}

{% endblock %}
