{% extends 'base/base.html' %}


{% block title %}
    登录
{% endblock %}


{% block style %}

{% endblock %}


{% block body %}
    <div class="container-fluid ">
        <div class="row propagranda">
            <div class="col-sm-6 col-sm-offset-2">
                {% include 'base/advertisement.html' %}
            </div>
            <div class="col-sm-2 form">
                <div class="text-center"><h1>动态登录</h1></div>
                <form action="{% url 'user:dynamic_login' %}" method="post">{% csrf_token %}
                    <div class="form-group form-style">
                        <label for="email">邮 箱</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="请输入邮箱"/>
                        <button class="btn btn-primary">发送验证码</button>
                    </div>
                    <div class="form-group form-style">
                        <label for="captcha">验证码: </label>
                        <input type="password" class="form-control" id="captcha" name="captcha"/>
                    </div>
                    <div class="form-group form-style">
                        <input type="submit" value="登录" class="btn btn-primary col-sm-12">
                    </div>
                    <div class="form-group form-style">
                        <a href="{% url 'user:login' %}" class="btn btn-link col-sm-12">账户密码登录</a>
                        <a href="{% url 'user:signup' %}" class="btn btn-link col-sm-12">现在注册</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script>
        $(document).ready(function () {
            {% if message %}
                alert('{{ message }}')
            {% endif %}
        })
    </script>
{% endblock %}
