{% extends 'base/base.html' %}


{% block title %}
    登录
{% endblock %}


{% block style %}

{% endblock %}


{% block body %}
    <div class="container-fluid ">
        <div class="row propagranda">
            <div class="col-sm-6 col-sm-offset-2">
                {% include 'base/advertisement.html' %}
            </div>
            <div class="col-sm-2 form">
                <div class="text-center"><h1>登录</h1></div>
                {% include 'form/loginform.html' %}
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script>
        $(document).ready(function () {
            {% if message != '' %}
                alert('{{ message }}')
            {% endif %}
        })
    </script>
{% endblock %}
