{% extends 'base/base.html' %}

{% block title %}
    {{ showuser.nickname }}的个人主页
{% endblock %}


{% block style %}
    <style>
        img {
            height: 200px;
            width: 200px;
            border-radius: 50%;
        }

        #username {
            font-size: 30px;
        }

        .list-group {
            min-height: 400px;
        }
    .description {
            color: #8a8a8a;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    </style>
{% endblock %}


{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-sm-offset-2 bg-white">

                <div class="thumbnail center-block">
                    {% if showuser.avatar %}
                        <img src="/media/{{ showuser.avatar }}" alt="">
                    {% else %}
                        <img src="/static/images/user/user_404.png" alt="头像不存在">
                    {% endif %}

                    <div class="caption">
                        <h3>{{ showuser.nickname }}
                            {% if showuser.gender %}
                                <small style="color: #5bc0de">♂</small>
                            {% else %}
                                <small style="color: deeppink">♀</small>
                            {% endif %}
                        </h3>
                        <p> 个人说明：{{ showuser.description }}</p>
                        {% if showuser.pk == user.pk %}
                            <p>
                                <a href="{% url 'app:change' %}" class="btn btn-link" role="button">点击修改</a>
                            </p>
                        {% endif %}
                    </div>
                </div>

            </div>
            <div class="col-sm-5 bg-white">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active">
                        <a>
                            {% if showuser == user %}
                                您的发帖
                            {% else %}
                                他的发帖
                            {% endif %}
                        </a>
                    </li>
                </ul>
                <div class="list-group">
                    {% for post in current_page %}
                        <div class="post-item">
                            <a class="post-title" href="{% url 'app:show_post' %}?post_id={{ post.pk }}">
                                <h4>{{ post.headline }}</h4></a>
                            <div class="description">{{ post.description| striptags }}</div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <a
                                            href="{% url 'app:show_posts' %}?plate={{ post.plate.pk }}">{{ post.plate.name }}</a>>
                                        | {{ post.create_time | timesince}}以前
                                    </div>
                                    <div class="col-sm-3 text-right">
                                        阅读 {{ post.read_num }} | 评论数 {{ post.reviews.count }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>

                {% if total_post == 0 and showuser == user %}
                    <div class="alert alert-warning text-center">您还没有<a href="{% url 'user:posting' %}">发帖</a>，</div>
                {% elif total_post == 0 and showuser != user %}
                    <div class="alert alert-warning text-center">这个人还没有发过贴呢，</div>
                {% else %}
                    <div class="text-center">
                        <nav aria-label="Page navigation" class="text-center">
                            <ul class="pagination page-list">
                                <li>
                                    <a id="first-page" href="{% url 'app:showuser' %}?show={{ showuser.pk }}&page=1">
                                        <span aria-hidden="true">首页;</span>
                                    </a>
                                </li>

                                <li>
                                    <a id="previous-page">
                                        <span aria-hidden="true">上一页</span>
                                    </a>
                                </li>

                                <li><a class="page-item-hottest">第{{ current_page.number }}页</a></li>
                                <li>
                                    <a id="next-page">
                                        <span aria-hidden="true">下一页</span>
                                    </a>
                                </li>

                                <li>
                                    <a id="last-page"
                                       href="{% url 'app:showuser' %}?show={{ showuser.pk }}&page={{ current_page.paginator.num_pages }}">
                                        <span aria-hidden="true">尾页</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>

                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script>
        $(document).ready(function () {
            {% if current_page.has_previous %}
                $('#previous-page').attr('href', "{% url 'app:showuser' %}?show={{ showuser.pk }}&page={{ current_page.previous_page_number }}")

            {% endif %}
            {% if current_page.has_next %}
                $('#next-page').attr('href', "{% url 'app:showuser' %}?show={{ showuser.pk }}&page={{ current_page.next_page_number }}")

            {% endif %}
        })


    </script>

{% endblock %}
