{% extends 'base/base.html' %}
{% block title %}
    板块： {{ plate.name }}
{% endblock %}
{% block style %}
    <style>
        .body-content {
            background-color: white;
        }

        .post-list {
            margin: 0px;
            padding-right: 15%;
            padding-left: 15%;
            min-height: 481px;
        }
        .description {
            color: #8a8a8a;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    .post-hover {
            background-color: #fafafa;
        }

    </style>
{% endblock %}

{% load custom %}


{% block body %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-3 body-content">
            <div class="plate-list">
                <ul class="list-group">
                    <li class="text-center plate-item">
                        <a href="{% url 'app:index' %}">
                            <h4>推荐</h4>
                        </a>

                    </li>
                    <li class="text-center plate-item">
                        <a href="{% url 'app:latest' %}">
                            <h4>最新</h4>
                        </a>

                    </li>
                    {% for plate_item in plates %}
                        {% if forloop.counter <= 5 %}
                            <li class="text-center {% if plate.pk == plate_item.pk %}
                            active{% else %} plate-item
                            {% endif %}">
                                <a href="{% url 'app:show_posts' %}?plate={{ plate_item.pk }}">
                                    <h4>{{ plate_item.name }}</h4>
                                </a>
                            </li>
                        {% else %}
                            <li class="hidden hidden-plate text-center {% if plate.pk == plate_item.pk %}
                            active{% else %} plate-item
                            {% endif %}">
                                <a href="{% url 'app:show_posts' %}?plate={{ plate_item.pk }}">
                                    <h4>{{ plate_item.name }}</h4>
                                </a>
                            </li>
                        {% endif %}

                    {% endfor %}
                    {% if plates.count > 5 %}
                        <li id="show_more" class="text-center plate-item">
                            <h4>显示更多板块</h4>
                        </li>
                    {% endif %}
                    <li class="text-center plate-item">
                        <a href="{% url 'app:create_plate' %}">
                            <h4>创建板块</h4>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="jumbotron">
                <h2>{{ plate.name }}</h2>
                <p>{{ plate.description }}</p>
            </div>
            {% if total_page == 0 %}
                <h4 class="text-center">该板块还没有人发帖，<a href="{% url 'app:posting' %}">前往发帖</a></h4>
            {% else %}
                <div class="list-group post-list">
                    {% for post in currnet_page %}
                        <div class="post-item">
                            <a class="post-title" href="{% url 'app:show_post' %}?post_id={{ post.pk }}">
                                <h4>{{ post.headline }}</h4></a>
                            <div class="description">{{ post.description| striptags }}</div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <a href="{% url 'app:showuser' %}?show={{ post.user.pk }}">
                                            {% if post.user.avatar %}
                                                <img src="/media/{{ post.user.avatar }}" class="user_avatar">
                                            {% else %}
                                                <img src="/static/images/user/user_404_title.png" class="user_avatar">
                                            {% endif %}{{ post.user.nickname }}</a>
                                        | <a
                                            href="{% url 'app:show_posts' %}?plate={{ post.plate.pk }}">{{ post.plate.name }}</a>>
                                        | {{ post.create_time | timesince}}以前
                                    </div>
                                    <div class="col-sm-3 text-right">
                                        阅读 {{ post.read_num }} | 评论数 {{ post.reviews.count }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="text-center">
                <nav aria-label="Page navigation" class="text-center">
                    <ul class="pager page-list ">
                        <li>
                            <a id="first-page" href="{% url 'app:show_posts' %}?plate={{ plate.pk }}&page=1">
                                <span aria-hidden="true">首页;</span>
                            </a>
                        </li>

                        <li>
                            <a id="previous-page">
                                <span aria-hidden="true">上一页</span>
                            </a>
                        </li>

                        <li><a class="page-item-hottest">第{{ currnet_page.number }}页</a></li>
                        <li>
                            <a id="next-page">
                                <span aria-hidden="true">下一页</span>
                            </a>
                        </li>

                        <li>
                            <a id="last-page"
                               href="{% url 'app:show_posts' %}?plate={{ plate.pk }}&page={{ currnet_page.paginator.num_pages }}">
                                <span aria-hidden="true">尾页</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            {% endif %}

            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>

        $(document).ready(function () {
            {% if currnet_page.has_previous %}
                $('#previous-page').attr('href', "{% url 'app:show_posts' %}?plate={{ plate.pk }}&page={{ currnet_page.previous_page_number }}")

            {% endif %}
            {% if currnet_page.has_next %}
                $('#next-page').attr('href', "{% url 'app:show_posts' %}?plate={{ plate.pk }}&page={{ currnet_page.next_page_number }}")

            {% endif %}
            $("#show_more").click(function () {
                $(this).remove();
                $(".hidden-plate").removeClass("hidden")
            })
            $(".post-item").hover(function () {
                $(this).addClass("post-hover")
            }, function () {
                $(this).removeClass("post-hover")
            })
            $(".plate-item").hover(function () {
                $(this).addClass("active")
            }, function () {
                $(this).removeClass("active")
            })

        })
    </script>

{% endblock %}